admin_multiupload@git+https://github.com/python-force/django-admin-multiupload.git@master#egg=admin_multiupload-1.10
altair==4.1.0
chardet==3.0.4
consulate==0.6.0
Django==2.1.3
django-import-export==2.0.2
django-json-widget==0.2.0
django-mock-queries==2.1.5
djangorestframework==3.9.0
django-smuggler==0.9.1
django-sortedm2m==2.0.0
gast==0.2.2
google-api-core==1.22.1
google-cloud-storage
google-cloud-vision==0.39.0
grpcio==1.31.0
idna==2.8
imutils==0.5.3
ipyevents==0.7.1
ipywidgets==7.5.1
itypes==1.1.0
jupyterlab
mock==3.0.5
natsort==7.0.1
numpy==1.17.2
opencv-contrib-python==4.1.0.25
# Needed for markers :(
tensorflow-serving-api-gpu==1.15.0
tensorflow-gpu==1.15.2
pandas==0.23.4
pillow==6.2.0
pyaml
pyarrow==2.0.0
pycocotools==2.0.1
pyzbar
redis==3.3.11
requests==2.21.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
six==1.12.0
termcolor==1.1.0
tqdm==4.38.0
urllib3==1.24.1
utils==1.0.1
wheel==0.32.3
